* {
  padding: 0;
  margin: 0;
}

html {
  font-family: "Helvetica Neue", sans-serif;
}

.page {
  width: 210mm;
  height: 297mm;
}

.card {
  float: left;
  position: relative;
  width: 90mm;
  height: 133mm;
  margin: 5.5mm;
  border: 2mm solid #000;
  border-radius: 1.75mm;
  overflow: hidden;
}

.card h2 {
  font-size: 7.5mm;
  line-height: 12mm;
  font-weight: bold;
  color: #000;
  text-align: center;
}

.photo {
  bottom: 0;
  height: 100%;
  width: 100%;
  border-top: 1.5mm solid #000;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.card ul {
  display: block;
  position: absolute;
  bottom: 0;
}

.card li {
  background: #fff;
  list-style: none;
  font-size: 6mm;
  line-height: 7.5mm;
  font-weight: bold;
  margin: 2.5mm;
  padding: 0 2.5mm;
}

#theodore h2 {
  font-size: 6.25mm;
}
