<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="/static/whereabouts.css">
</head>
<body>
  <h1>Team whereabouts for {{ date }}</h1>
  <table>
    <tr>
  {% for place in places|sort %}
     <th>{{ place }}</th>
  {% endfor %}
    </tr>
    <tr>
  {% for place, people in places|dictsort %}
    <td>
    {% for name in people|sort %}
        <div id="card_{{ members[name].photo }}" class="card">
          <img src="{{ members[name].photo_url if members[name].photo_url else ('/photo/' + members[name].photo) }}">
          <h2>{{ name|first_name}}</h2>
        </div>
    {% endfor %}
    </td>
  {% endfor %}
    </tr>
  </table>
</body>
</html>
